<div class="container-fluid">
  <div class="row barre"></div>
  <div class="row mt-1 mb-1 justify-content-center ">
    <div class="col-md-3 col-sm-12 text-center">
      <img src="assets/images/logo_grie.png" alt="">
    </div>
    <div class="col-md-6 col-sm-12 barre_transparant"></div>
    <div class="col-md-3 col-sm-12 text-center">
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-6">
          <div class="row mt-md-4">
            <div class="col-6">
              <b>Djazia</b>
            </div>
            <div class="col-6">
              <b>Hababela</b>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="row justify-content-center">
            <img class="avatar" src="assets/images/avatare.png" alt="">
          </div>
          <div class="row justify-content-center">
            <b>Teacher</b>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row barre"></div>
</div>